<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start" >
     </ion-buttons>
    <ion-title>TeLlevo<span>APP</span></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let viaje of viajes">
      <ion-label>
        <h2>Fecha: {{ viaje.fecha }}</h2>
        <p>Hora: {{ viaje.hora }}</p>
        <p>Ubicación: {{ viaje.ubicacion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button color="warning" fill="outline" expand="block" class="large-button" expand="full" expand="full" routerLink="/home" >Regresar</ion-button>
</ion-content>