.mi-header {
  background-color: #488aff; // Color de fondo del header
  color: #ffffff; // Color del texto en el header
}

.mi-card {
  border-radius: 10px; // Borde redondeado de la tarjeta
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Sombra de la tarjeta
}

ion-text {
  font-size: 16px; 
  color: #ffffff; 
}

ion-label {
  font-weight: bold; 
}
